<p>
    <a href="{% url 'index' %}">Powrót</a>
</p>
{% if bill_to_edit %}
<h2>Edytuj</h2>
{% else %}
<h2>Dodaj</h2>
{% endif %}

<h4>Typ rachunku: {{ bill_type.label }}</h4>
{% if room %}
<p> Pokój: {{ room.name }} </p>
{% endif %}

{% if last_bill %}
<p> Ostatni rachunek z {{ last_bill.date }} na kwotę: {{ last_bill.amount }} </p>
{% endif %}

<form action="{{ action }}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if bill_to_edit %}
    <input type="submit" value="Zapisz">
    {% else %}
    <input type="submit" value="Dodaj">
    {% endif %}
</form>