{% extends "base.html" %}

{% block header %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="home"><a href="{% url 'index' %}">Pokoje</a></li>
        {% if bill_id is not None %}
        <li class="breadcrumb-item active" aria-current="room">Zmień rachunek</li>
        {% else %}
        <li class="breadcrumb-item active" aria-current="room">Dodaj rachunek</li>
        {% endif %}
    </ol>
</nav>
{% endblock %}


{% block content %}

{% if last_bill is not None and bill_id is None %}
<h4>Ostatni rachunek</h4>
<div class="container p-2 card mb-3">
    <form>
    
        <div class="form-floating mb-3">
            <input type="number" step="0.01" class="form-control" name="last_value_to_pay" id="last_value_to_pay" placeholder=" " value="{{  last_bill.value_to_pay }}" disabled>
            <label for="last_value_to_pay">Kwota (zł)</label>
        </div>

        <div class="form-floating mb-3">
            <input type="month" class="form-control" name="last_date_created" id="last_date_created" placeholder=" " value="{{ last_bill.date_created }}" disabled>
            <label for="last_date_created">Data</label>
        </div>

        {% if last_bill.description %}
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="last_description" id="last_description" placeholder=" " value="{{ last_bill.description }}" disabled>
            <label for="last_description">Opis (opcjonalny)</label>
        </div>
        {% endif %}

    </form>
</div>
{% endif %}

{% if bill_id is not None %}
<h4>Zmień rachunek</h4>
{% else %}
<h4>Dodaj rachunek</h4>
{% endif %}

<div class="container p-2 card">

    <form action="" method="POST">
        {% csrf_token %}

        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="type" id="type" placeholder=" " value="{{ type }}" disabled>
            <label for="type">Typ</label>
        </div>

        <div class="form-floating mb-3">
            {% if room is not None %}
            <input type="text" class="form-control" name="room" id="room" placeholder=" " value="{{ room.name }}" disabled>
            {% else %}
            <input type="text" class="form-control" name="room" id="room" placeholder=" " value="(do równego podziału)" disabled>
            {% endif %}
            <label for="room">Pokój</label>
        </div>


        <div class="form-floating mb-3">
            {% if last_bill is not None %}
            <input type="number" step="0.01" class="form-control" name="value_to_pay" id="value_to_pay" placeholder=" " value="{{ last_bill.value_to_pay }}" required>
            {% else %}
            <input type="number" step="0.01" class="form-control" name="value_to_pay" id="value_to_pay" placeholder=" " value="{{ value }}" required>
            {% endif %}
            <label for="value_to_pay">Kwota (zł)</label>
        </div>

        <div class="form-floating mb-3">
            <input type="month" class="form-control" name="date_created" id="date_created" placeholder=" " value="{{ now }}" required>
            <label for="date_created">Data</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="description" id="description" placeholder=" " value="{{ description }}">
            <label for="description">Opis (opcjonalny)</label>
        </div>

        <div class="d-flex justify-content-end">
            {% if bill_id is not None %}
            <a type="submit" class="btn btn-outline-danger me-3" href="{% url 'bill_delete' bill_id %}">Usuń</a>
            {% endif %}
            
            {% if bill_id is not None %}
            <input type="submit" class="btn btn-primary" value="Zapisz">
            {% else %}
            <input type="submit" class="btn btn-primary" value="Dodaj">
            {% endif %}
        </div>
    </form>



</div>

{% endblock %}