{% extends "base.html" %}

{% block header %}



{% endblock %}


{% block content %}

<div class="container mt-4 p-2 card">
    <form action="" method="POST">
        {% csrf_token %}

        {% if failed is not None %}
        <div class="alert alert-danger" role="alert">
            Nieprawidłowa nazwa użytkownika lub hasło.
        </div>
        {% endif %}

        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="username" id="username" placeholder=" " required>
            <label for="username">Nazwa użytkownika</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" name="password" id="password" placeholder=" " required>
            <label for="password">Hasło</label>
        </div>

        <hr />

        <div class="d-flex justify-content-end">

            <input type="submit" class="btn btn-primary" value="Zaloguj">
            
        </div>

    </form>
</div>

{% endblock %}