{% extends "base.html" %}

{% block header %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="home"><a href="{% url 'index' %}">Pokoje</a></li>
 
        <li class="breadcrumb-item" aria-current="room"><a href="{% url 'room' payment.room_id %}">{{ payment.room.name }} </a></li>
    
        <li class="breadcrumb-item active" aria-current="payment">Płatność</li>
        
    </ol>
</nav>
{% endblock %}


{% block content %}

<h4>Ureguluj płatność</h4>
<div class="container p-2 card">
    <form action="" method="POST">
        {% csrf_token %}

        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="type" id="type" placeholder=" " value="{{ payment.bill.get_type_display }}" disabled>
            <label for="type">Typ</label>
        </div>

        {% if payment.bill.description %}
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="description" id="description" placeholder=" " value="{{ payment.bill.description }}" disabled>
            <label for="description">Opis</label>
        </div>
        {% endif %}

        <div class="form-floating mb-3">
            <input type="month" class="form-control" name="date_created" id="date_created" placeholder=" " value="{{ date_created }}" disabled>
            <label for="date_created">Data</label>
        </div>

        <div class="form-floating mb-3">
            <input type="number" step="0.01" class="form-control" name="value_referece" id="value_referece" placeholder=" " value="{{ value_to_pay }}" disabled>
            <label for="value_referece">Do zapłaty (zł)</label>
        </div>

        <div class="form-floating mb-3">
            <input type="number" step="0.01" class="form-control" name="value_to_pay" id="value_to_pay" placeholder=" " value="{{ value }}">
            <label for="value_to_pay">Wpłata (zł)</label>
        </div>

        <hr />

        <div class="d-flex justify-content-between">
            
            <div>
                <input type="submit" class="btn btn-outline-success align-self-start" name="action_full_payment" value="Całość">
                <input type="submit" class="btn btn-outline-secondary align-self-start" name="action_clear_payment" value="Zero">
            </div>

            <input type="submit" class="btn btn-primary align-self-end" name="action_update" value="Zapisz">
            
        </div>

    </form>
</div>

{% endblock %}