{% extends "base.html" %}

{% block header %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="home"><a href="{% url 'index' %}">Pokoje</a></li>
        <li class="breadcrumb-item active" aria-current="room">{{ room.name }}</li>
    </ol>
</nav>
{% endblock %}


{% block content %}

{% include 'contact_card.html' %}

<h4 class="d-flex justify-content-between mb-3">
    <span class="text-muted">Płatności</span>
    <span class="badge badge-secondary">{{ room.balance | floatformat:2 }} zł </span>
</h4>

{% for payment_month in payments %}
    {% include 'room_payment_month.html' %}
{% endfor %}

{% endblock %}